# 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’

In [21]:
import requests
from bs4 import BeautifulSoup
src = requests.get("http://en.wikipedia.org/wiki/Main_Page")
print(src)
soup = BeautifulSoup(src.content, 'lxml')
#print(soup.prettify())

<Response [200]>

In [22]:
header_tags = soup.find_all(['h1','h2','h3','h4','h5','h6'])
print("List of all Header tags: ", header_tags, sep = '\n\n')

List of all Header tags:

[<h1 class="firstHeading" id="firstHeading">Main Page</h1>, <h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>, <h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>, <h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>, <h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>, <h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>, <h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>, <h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>, <h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>, <h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>, <h2>Navigation menu</h2>, <h3 class="vector-menu-heading" id="p-personal-label"><span>Personal tools</span>
</h3>, <h3 class="vector-menu-heading" id="p-namespaces-label"><span>Namespaces</span>
</h3>, <h3 class="vector-menu-heading" id="p-variants-label"><span>Variants</span>
</h3>, <h3 class="vector-menu-heading" id="p-views-label"><span>Views</span>
</h3>, <h3 class="vector-menu-heading" id="p-cactions-label"><span>More</span>
</h3>, <h3>
<label for="searchInput">Search</label>
</h3>, <h3 class="vector-menu-heading" id="p-navigation-label"><span>Navigation</span>
</h3>, <h3 class="vector-menu-heading" id="p-interaction-label"><span>Contribute</span>
</h3>, <h3 class="vector-menu-heading" id="p-tb-label"><span>Tools</span>
</h3>, <h3 class="vector-menu-heading" id="p-coll-print_export-label"><span>Print/export</span>
</h3>, <h3 class="vector-menu-heading" id="p-wikibase-otherprojects-label"><span>In other projects</span>
</h3>, <h3 class="vector-menu-heading" id="p-lang-label"><span>Languages</span>
</h3>]

# 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release).

In [23]:
import requests
from bs4 import BeautifulSoup
src = requests.get("https://www.imdb.com/list/ls091520106/")
print(src)
soup = BeautifulSoup(src.content, 'lxml')

<Response [200]>

In [24]:
movies = soup.find_all('h3',class_= "lister-item-header")
movie_names = []

for i in movies:
    for j in i.find_all('a'):
        movie_names.append(j.text.replace("\n","")) 
movie_names[:100]

['The Shawshank Redemption',
 'The Godfather',
 'The Godfather: Part II',
 'The Dark Knight',
 '12 Angry Men',
 "Schindler's List",
 'The Lord of the Rings: The Return of the King',
 'Pulp Fiction',
 'Il buono, il brutto, il cattivo',
 'Fight Club',
 'Joker',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Forrest Gump',
 'Inception',
 'Star Wars: Episode V - The Empire Strikes Back',
 'The Lord of the Rings: The Two Towers',
 'The Matrix',
 "One Flew Over the Cuckoo's Nest",
 'Goodfellas',
 'Shichinin no samurai',
 'Se7en',
 'Cidade de Deus',
 'La vita è bella',
 'The Silence of the Lambs',
 'Star Wars',
 "It's a Wonderful Life",
 'Saving Private Ryan',
 'Sen to Chihiro no kamikakushi',
 'The Green Mile',
 'Léon',
 'Seppuku',
 'Interstellar',
 'The Usual Suspects',
 'The Lion King',
 'American History X',
 'Back to the Future',
 'The Pianist',
 'Modern Times',
 'Terminator 2: Judgment Day',
 'The Intouchables',
 'Psycho',
 'Gladiator',
 'City Lights',
 'The Departed',
 'Whiplash',
 'Once Upon a Time in the West',
 'The Prestige',
 'Avengers: Endgame',
 'Casablanca',
 'Hotaru no haka',
 'Rear Window',
 'Nuovo Cinema Paradiso',
 'Alien',
 'Raiders of the Lost Ark',
 'Memento',
 'Apocalypse Now',
 'The Great Dictator',
 'The Lives of Others',
 'Avengers: Infinity War',
 'Django Unchained',
 'Spider-Man: Into the Spider-Verse',
 'The Shining',
 'Paths of Glory',
 'WALL·E',
 'Sunset Blvd.',
 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb',
 'Mononoke-hime',
 'Oldeuboi',
 'Witness for the Prosecution',
 'The Dark Knight Rises',
 'Once Upon a Time in America',
 'Gisaengchung',
 'Aliens',
 'American Beauty',
 'Coco',
 'Kimi no na wa.',
 'Braveheart',
 'Das Boot',
 '3 Idiots',
 'Taare Zameen Par',
 'Star Wars: Episode VI - Return of the Jedi',
 'Toy Story',
 'Reservoir Dogs',
 'Amadeus',
 'Dangal',
 'Good Will Hunting',
 'Inglourious Basterds',
 'M - Eine Stadt sucht einen Mörder',
 'Requiem for a Dream',
 '2001: A Space Odyssey',
 'Vertigo',
 'Eternal Sunshine of the Spotless Mind',
 'Citizen Kane',
 'Full Metal Jacket',
 'Jagten',
 'North by Northwest',
 'A Clockwork Orange',
 'Snatch',
 "Le fabuleux destin d'Amélie Poulain",
 'The Kid']

In [25]:
rating = soup.find_all('div',class_= "ipl-rating-star small")
Rating = []

for i in rating:
    Rating.append(i.text.replace("\n",""))
Rating[:100]

['9.3',
 '9.2',
 '9',
 '9',
 '9',
 '8.9',
 '8.9',
 '8.9',
 '8.8',
 '8.8',
 '8.4',
 '8.8',
 '8.8',
 '8.8',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.7',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.6',
 '8.5',
 '8.6',
 '8.6',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.6',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3']

In [26]:
year = soup.find_all('span',class_= "lister-item-year text-muted unbold")
Year = []

for i in year:
    Year.append(i.text)
Year[:100]

['(1994)',
 '(1972)',
 '(1974)',
 '(2008)',
 '(1957)',
 '(1993)',
 '(2003)',
 '(1994)',
 '(1966)',
 '(1999)',
 '(2019)',
 '(2001)',
 '(1994)',
 '(2010)',
 '(1980)',
 '(2002)',
 '(1999)',
 '(1975)',
 '(1990)',
 '(1954)',
 '(1995)',
 '(2002)',
 '(1997)',
 '(1991)',
 '(1977)',
 '(1946)',
 '(1998)',
 '(2001)',
 '(1999)',
 '(1994)',
 '(1962)',
 '(2014)',
 '(1995)',
 '(1994)',
 '(1998)',
 '(1985)',
 '(2002)',
 '(1936)',
 '(1991)',
 '(2011)',
 '(1960)',
 '(2000)',
 '(1931)',
 '(2006)',
 '(2014)',
 '(1968)',
 '(2006)',
 '(2019)',
 '(1942)',
 '(1988)',
 '(1954)',
 '(1988)',
 '(1979)',
 '(1981)',
 '(2000)',
 '(1979)',
 '(1940)',
 '(2006)',
 '(2018)',
 '(2012)',
 '(2018)',
 '(1980)',
 '(1957)',
 '(2008)',
 '(1950)',
 '(1964)',
 '(1997)',
 '(2003)',
 '(1957)',
 '(2012)',
 '(1984)',
 '(2019)',
 '(1986)',
 '(1999)',
 '(I) (2017)',
 '(2016)',
 '(1995)',
 '(1981)',
 '(2009)',
 '(2007)',
 '(1983)',
 '(1995)',
 '(1992)',
 '(1984)',
 '(2016)',
 '(1997)',
 '(2009)',
 '(1931)',
 '(2000)',
 '(1968)',
 '(1958)',
 '(2004)',
 '(1941)',
 '(1987)',
 '(2012)',
 '(1959)',
 '(1971)',
 '(2000)',
 '(2001)',
 '(1921)']

In [27]:
import pandas as pd

IMDB_top_rated_movies = pd.DataFrame({})
IMDB_top_rated_movies['Movie Name']=movie_names
IMDB_top_rated_movies['IMDB rating']=Rating
IMDB_top_rated_movies['Year of Release']=Year
IMDB_top_rated_movies

                             Movie Name IMDB rating Year of Release
0              The Shawshank Redemption         9.3          (1994)
1                         The Godfather         9.2          (1972)
2                The Godfather: Part II           9          (1974)
3                       The Dark Knight           9          (2008)
4                          12 Angry Men           9          (1957)
..                                  ...         ...             ...
95                   North by Northwest         8.3          (1959)
96                   A Clockwork Orange         8.3          (1971)
97                               Snatch         8.3          (2000)
98  Le fabuleux destin d'Amélie Poulain         8.3          (2001)
99                              The Kid         8.3          (1921)

[100 rows x 3 columns]

# 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).

In [28]:
import requests
from bs4 import BeautifulSoup
src = requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
print(src)
soup = BeautifulSoup(src.content, 'lxml')

<Response [200]>

In [29]:
movies = soup.find_all('td',class_= "titleColumn")
movie_names = []

for i in movies:
    for j in i.find_all('a'):
        movie_names.append(j.text.replace("\n","")) 
movie_names[:100]

['Nayakan',
 'Anbe Sivam',
 'Pariyerum Perumal',
 'Golmaal',
 'C/o Kancharapalem',
 'Apur Sansar',
 'Manichitrathazhu',
 'Kireedam',
 'Pather Panchali',
 'Natsamrat',
 '96',
 'Black Friday',
 'Thevar Magan',
 'Kumbalangi Nights',
 'Visaaranai',
 '3 Idiots',
 'Soorarai Pottru',
 'Jersey',
 'Drishyam 2',
 'Taare Zameen Par',
 'Asuran',
 'Thalapathi',
 'Kaithi',
 'Dangal',
 'Sarpatta Parambarai',
 'Devasuram',
 'Ratsasan',
 'Aparajito',
 'Jaane Bhi Do Yaaro',
 'Pyaasa',
 'Vada Chennai',
 'Peranbu',
 'Guide',
 'Thani Oruvan',
 'Kannathil Muthamittal',
 'Chupke Chupke',
 'Iruvar',
 'Spadikam',
 'Agent Sai Srinivasa Athreya',
 'Super Deluxe',
 'Mahanati',
 'Aruvi',
 'Shershaah',
 'Drishyam',
 'Khosla Ka Ghosla!',
 'Pudhu Pettai',
 'Tumbbad',
 'Vikram Vedha',
 'Premam',
 'Anniyan',
 'Mudhalvan',
 'Bangalore Days',
 'Kaakkaa Muttai',
 'Anand',
 'Satya',
 'Andhadhun',
 'Dhuruvangal Pathinaaru',
 'Papanasam',
 'Soodhu Kavvum',
 'Shahid',
 'Jigarthanda',
 'Gangs of Wasseypur',
 'Pithamagan',
 'Paan Singh Tomar',
 'Bhaag Milkha Bhaag',
 'Hera Pheri',
 'Sairat',
 'Sholay',
 'Swades: We, the People',
 'Talvar',
 'Chak De! India',
 'Maheshinte Prathikaaram',
 'Ustad Hotel',
 'Black',
 'Zindagi Na Milegi Dobara',
 'Mughal-E-Azam',
 'Jo Jeeta Wohi Sikandar',
 'Drishyam',
 'Nil Battey Sannata',
 'Theeran adhigaaram ondru',
 'Charulata',
 'Udaan',
 'Article 15',
 'A Wednesday',
 'Masaan',
 'Munna Bhai M.B.B.S.',
 'Queen',
 'Baasha',
 'Sarfarosh',
 'Alai Payuthey',
 'Chhichhore',
 'Dil Chahta Hai',
 'OMG: Oh My God!',
 'Rang De Basanti',
 'Roja',
 'Virumandi',
 'Lagaan: Once Upon a Time in India',
 'Kahaani',
 'Andaz Apna Apna',
 'Uri: The Surgical Strike']

In [30]:
rating = soup.find_all('td',class_= "ratingColumn imdbRating")
Rating = []

for i in rating:
    Rating.append(i.text.replace("\n",""))
Rating[:100]

['8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1']

In [31]:
year = soup.find_all('span',class_= "secondaryInfo")
Year = []

for i in year:
    Year.append(i.text)
Year[:100]

['(1987)',
 '(2003)',
 '(2018)',
 '(1979)',
 '(2018)',
 '(1959)',
 '(1993)',
 '(1989)',
 '(1955)',
 '(2016)',
 '(2018)',
 '(2004)',
 '(1992)',
 '(2019)',
 '(2015)',
 '(2009)',
 '(2020)',
 '(2019)',
 '(2021)',
 '(2007)',
 '(2019)',
 '(1991)',
 '(2019)',
 '(2016)',
 '(2021)',
 '(1993)',
 '(2018)',
 '(1956)',
 '(1983)',
 '(1957)',
 '(2018)',
 '(2018)',
 '(1965)',
 '(2015)',
 '(2002)',
 '(1975)',
 '(1997)',
 '(1995)',
 '(2019)',
 '(2019)',
 '(2018)',
 '(2016)',
 '(2021)',
 '(2013)',
 '(2006)',
 '(2006)',
 '(2018)',
 '(2017)',
 '(2015)',
 '(2005)',
 '(1999)',
 '(2014)',
 '(2014)',
 '(1971)',
 '(1998)',
 '(2018)',
 '(2016)',
 '(2015)',
 '(2013)',
 '(2012)',
 '(2014)',
 '(2012)',
 '(2003)',
 '(2012)',
 '(2013)',
 '(2000)',
 '(2016)',
 '(1975)',
 '(2004)',
 '(2015)',
 '(2007)',
 '(2016)',
 '(2012)',
 '(2005)',
 '(2011)',
 '(1960)',
 '(1992)',
 '(2015)',
 '(2015)',
 '(2017)',
 '(1964)',
 '(2010)',
 '(2019)',
 '(2008)',
 '(2015)',
 '(2003)',
 '(2013)',
 '(1995)',
 '(1999)',
 '(2000)',
 '(2019)',
 '(2001)',
 '(2012)',
 '(2006)',
 '(1992)',
 '(2004)',
 '(2001)',
 '(2012)',
 '(1994)',
 '(2018)']

In [32]:
import pandas as pd
Top_rated_Indian_Movies = pd.DataFrame({})
Top_rated_Indian_Movies['Movie Name']=movie_names[:100]
Top_rated_Indian_Movies['IMDB rating']=Rating[:100]
Top_rated_Indian_Movies['Year of Release']=Year[:100]
Top_rated_Indian_Movies

                           Movie Name IMDB rating Year of Release
0                             Nayakan         8.5          (1987)
1                          Anbe Sivam         8.5          (2003)
2                   Pariyerum Perumal         8.5          (2018)
3                             Golmaal         8.5          (1979)
4                   C/o Kancharapalem         8.5          (2018)
..                                ...         ...             ...
95                          Virumandi         8.1          (2004)
96  Lagaan: Once Upon a Time in India         8.1          (2001)
97                            Kahaani         8.1          (2012)
98                    Andaz Apna Apna         8.1          (1994)
99           Uri: The Surgical Strike         8.1          (2018)

[100 rows x 3 columns]

# 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [33]:
import requests
from bs4 import BeautifulSoup
src = requests.get("https://www.bookpage.com/reviews")
print(src)
soup = BeautifulSoup(src.content, 'lxml')

<Response [200]>

In [34]:
name = soup.find_all('h4',class_ = "italic")
book_name = [i.text.strip() for i in name]
book_name[:5]

['★ How the Word Is Passed',
 '★ You Are Your Best Thing',
 'Beyond the Mapped Stars',
 '★ Gordo',
 '★ Two-Way Mirror']

In [35]:
author = soup.find_all("div",class_='flex-article-content')
author_name = [i.find('p').text.strip() for i in author]
author_name[:5]

['Clint Smith',
 'Tarana Burke, Brené Brown, Cast',
 'Rosalyn Eves',
 'Jaime Cortez',
 'Fiona Sampson']

In [36]:
genre = soup.find_all("p",class_='genre-links hidden-phone')
genre_list = [i.text.replace("\n","") for i in genre]
genre_list[:5]

['Audio / Nonfiction / African American History',
 'Audio / Nonfiction / Essays',
 'YA / YA Fiction',
 'Fiction / Short Stories',
 'Nonfiction / Biography / Literary History']

In [37]:
review = soup.find_all("p",class_="excerpt")
review_list = [i.text.strip() for i in review]
review_list[:5]

['Clint Smith’s narration of How the Word Is Passed models the courage and fortitude required to face this timely reckoning with America’s past.',
 'Tarana Burke and Brené Brown demonstrate the power of bringing one’s authentic self to the work of deconstructing oppressive power structures.',
 'Rosalyn Eves’ Beyond the Mapped Stars blends fiction and fact to create an adventure that doesn’t shy away from difficult topics.',
 'As in John Steinbeck’s The Grapes of Wrath, the characters in Gordo are often poor in economic terms but lead richly complex lives.',
 'People often think of Elizabeth Barrett Browning as a “swooning poetess,” but Fiona Sampson’s dazzling and absorbing biography is likely to change that.']

In [38]:
import pandas as pd
books = pd.DataFrame({})
books['Book_name'] = book_name
books['Author_Name'] = author_name
books['Genre'] = genre_list
books['Book_Review'] = review_list
books[:5]

,Book_name,Author_Name,Genre,Book_Review
0,★ How the Word Is Passed,Clint Smith,Audio / Nonfiction / African American History,Clint Smith’s narration of How the Word Is Pas...
1,★ You Are Your Best Thing,"Tarana Burke, Brené Brown, Cast",Audio / Nonfiction / Essays,Tarana Burke and Brené Brown demonstrate the p...
2,Beyond the Mapped Stars,Rosalyn Eves,YA / YA Fiction,Rosalyn Eves’ Beyond the Mapped Stars blends f...
3,★ Gordo,Jaime Cortez,Fiction / Short Stories,"As in John Steinbeck’s The Grapes of Wrath, th..."
4,★ Two-Way Mirror,Fiona Sampson,Nonfiction / Biography / Literary History,People often think of Elizabeth Barrett Browni...

In [39]:
books.to_csv('BookReview.csv')

# 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have toscrape:

i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [40]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
src = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
print(src)
soup = BeautifulSoup(src.content,"lxml")

<Response [200]>

In [41]:
team_list = soup.find_all('span',class_ ="u-hide-phablet") 
teams = []
for i in team_list:
    teams.append(i.text.strip())
teams[:10]

['New Zealand',
 'England',
 'Australia',
 'India',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [42]:
records = soup.find_all("tr", class_ = "table-body")
matches =[]
points =[]
ratings =[]

for i in records:
    tds = i.findAll('td')
    matches.append(tds[2].text.strip())
    points.append(tds[3].text.strip())
    ratings.append(tds[4].text.strip())

In [43]:
import pandas as pd
ODI_teams = pd.DataFrame({})
ODI_teams['Teams'] = teams[:10]
ODI_teams['Matches'] = matches[:10]
ODI_teams['Points'] = points[:10]
ODI_teams['Ratings'] = ratings[:10]
ODI_teams

          Teams Matches Points Ratings
0   New Zealand      32  3,793     119
1       England      28  3,244     116
2     Australia      32  3,624     113
3         India      22  2,267     103
4  South Africa      27  2,524      93
5      Pakistan      29  2,639      91
6    Bangladesh      30  2,523      84
7   West Indies      29  2,303      79
8     Sri Lanka      17  1,054      62
9   Afghanistan       7    336      48

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [44]:
import pandas as pd
import requests
from bs4 import BeautifulSoup 
src = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
print(src)
soup = BeautifulSoup(src.content,'lxml')

<Response [200]>

In [45]:
batsmen_player = soup.find_all('tr', class_ = "table-body")
player_name = []
for i in batsmen_player:
    for j in i.find_all('a'):
        player_name.append(j.text.replace("\n","")) 
player_name[:10]

['Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'David Warner',
 'Quinton de Kock',
 'Shai Hope',
 'Kane Williamson',
 'Fakhar Zaman']

In [46]:
batsmen = soup.find_all("span", class_="table-body__logo-text")
team = []
for i in batsmen:
    team.append(i.text.strip())
team[:10]

['IND', 'IND', 'NZ', 'AUS', 'ENG', 'AUS', 'SA', 'WI', 'NZ', 'PAK']

In [47]:
rating = soup.find_all("tr",class_="table-body")
Rating = []
for i in rating:
    tds = i.findAll('td')
    Rating.append(tds[3].text.strip())
Rating[:10]

['844', '813', '801', '779', '775', '762', '758', '758', '754', '741']

In [48]:
import pandas as pd
ODI_batsmen_team = pd.DataFrame({})
ODI_batsmen_team['Player_Name'] = player_name
ODI_batsmen_team['Teams'] = team
ODI_batsmen_team['Ratings'] = Rating
ODI_batsmen_team[:10]

       Player_Name Teams Ratings
0      Virat Kohli   IND     844
1     Rohit Sharma   IND     813
2      Ross Taylor    NZ     801
3      Aaron Finch   AUS     779
4   Jonny Bairstow   ENG     775
5     David Warner   AUS     762
6  Quinton de Kock    SA     758
7        Shai Hope    WI     758
8  Kane Williamson    NZ     754
9     Fakhar Zaman   PAK     741

iii) Top 10 ODI bowlers along with the records of their team and rating.

In [49]:
import pandas as pd
import requests
from bs4 import BeautifulSoup 
src = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
print(src)
soup = BeautifulSoup(src.content,'lxml')

<Response [200]>

In [50]:
bowler = soup.find_all('tr', class_ = "table-body")
player_name = []
for i in bowler:
    for j in i.find_all('a'):
        player_name.append(j.text.replace("\n","")) 
player_name[:10]

['Josh Hazlewood',
 'Mujeeb Ur Rahman',
 'Chris Woakes',
 'Mehedi Hasan',
 'Matt Henry',
 'Jasprit Bumrah',
 'Mitchell Starc',
 'Shakib Al Hasan',
 'Kagiso Rabada',
 'Mustafizur Rahman']

In [51]:
bowler_team = soup.find_all("span", class_="table-body__logo-text")
team = []
for i in bowler_team:
    team.append(i.text.strip())
team[:10]

['AUS', 'AFG', 'ENG', 'BAN', 'NZ', 'IND', 'AUS', 'BAN', 'SA', 'BAN']

In [52]:
rating = soup.find_all("tr",class_="table-body")
Rating = []
for i in rating:
    tds = i.findAll('td')
    Rating.append(tds[3].text.strip())
Rating[:10]

['709', '708', '700', '692', '691', '679', '652', '650', '648', '640']

In [53]:
import pandas as pd
ODI_bowler_team = pd.DataFrame({})
ODI_bowler_team['Player_Name'] = player_name
ODI_bowler_team['Teams'] = team
ODI_bowler_team['Ratings'] = Rating
ODI_bowler_team[:10]

         Player_Name Teams Ratings
0     Josh Hazlewood   AUS     709
1   Mujeeb Ur Rahman   AFG     708
2       Chris Woakes   ENG     700
3       Mehedi Hasan   BAN     692
4         Matt Henry    NZ     691
5     Jasprit Bumrah   IND     679
6     Mitchell Starc   AUS     652
7    Shakib Al Hasan   BAN     650
8      Kagiso Rabada    SA     648
9  Mustafizur Rahman   BAN     640

# 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have toscrape:

i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [54]:
import pandas as pd
import requests
from bs4 import BeautifulSoup 
src = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
print(src)
soup = BeautifulSoup(src.content,'lxml')

<Response [200]>

In [55]:
women_team_list = soup.find_all('span',class_ ="u-hide-phablet") 
women_teams = []
for i in women_team_list:
    women_teams.append(i.text.strip())
women_teams[:9]

['Australia',
 'England',
 'South Africa',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka']

In [56]:
Women_records = soup.find_all("tr", class_ = "table-body")
women_matches =[]
women_points =[]
women_ratings =[]

for i in Women_records:
    tds = i.findAll('td')
    women_matches.append(tds[2].text.strip())
    women_points.append(tds[3].text.strip())
    women_ratings.append(tds[4].text.strip())

In [57]:
import pandas as pd
ODI_Women_team = pd.DataFrame({})
ODI_Women_team['Teams'] = women_teams[:9]
ODI_Women_team['Matches'] =women_matches[:9]
ODI_Women_team['Points'] = women_points[:9]
ODI_Women_team['Ratings'] = women_ratings[:9]
ODI_Women_team

          Teams Matches Points Ratings
0     Australia      20  2,370     119
1       England      24  2,828     118
2  South Africa      23  2,535     110
3         India      21  1,947      93
4   New Zealand      17  1,427      84
5   West Indies      20  1,496      75
6      Pakistan       5    306      61
7    Bangladesh      11    519      47
8     Sri Lanka       2     25      13

ii) Top 10 women’s ODI players along with the records of their team and rating.

In [58]:
import pandas as pd
import requests
from bs4 import BeautifulSoup 
src = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
print(src)
soup = BeautifulSoup(src.content,'lxml')

<Response [200]>

In [59]:
batsmen_player = soup.find_all('tr', class_ = "table-body")
player_name = []
for i in batsmen_player:
    for j in i.find_all('a'):
        player_name.append(j.text.replace("\n","")) 
player_name[:10]

['Lizelle Lee',
 'Alyssa Healy',
 'Tammy Beaumont',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Natalie Sciver',
 'Smriti Mandhana',
 'Laura Wolvaardt',
 'Ellyse Perry']

In [60]:
batsmen = soup.find_all("span", class_="table-body__logo-text")
team = []
for i in batsmen:
    team.append(i.text.strip())
team[:10]

['SA', 'AUS', 'ENG', 'WI', 'AUS', 'NZ', 'ENG', 'IND', 'SA', 'AUS']

In [61]:
rating = soup.find_all("tr",class_="table-body")
Rating = []
for i in rating:
    tds = i.findAll('td')
    Rating.append(tds[3].text.strip())
Rating[:10]

['758', '756', '754', '736', '723', '715', '706', '701', '683', '679']

In [62]:
import pandas as pd
ODI_Women_batsmen_team = pd.DataFrame({})
ODI_Women_batsmen_team['Player_Name'] = player_name
ODI_Women_batsmen_team['Teams'] = team
ODI_Women_batsmen_team['Ratings'] = Rating
ODI_Women_batsmen_team[:10]

         Player_Name Teams Ratings
0        Lizelle Lee    SA     758
1       Alyssa Healy   AUS     756
2     Tammy Beaumont   ENG     754
3    Stafanie Taylor    WI     736
4        Meg Lanning   AUS     723
5  Amy Satterthwaite    NZ     715
6     Natalie Sciver   ENG     706
7    Smriti Mandhana   IND     701
8    Laura Wolvaardt    SA     683
9       Ellyse Perry   AUS     679

iii) Top 10 women’s ODI all-rounder along with the records of their team andrating.

In [63]:
import pandas as pd
import requests
from bs4 import BeautifulSoup 
src = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling")
print(src)
soup = BeautifulSoup(src.content,'lxml')

<Response [200]>

In [64]:
bowler = soup.find_all('tr', class_ = "table-body")
player_name = []
for i in bowler:
    for j in i.find_all('a'):
        player_name.append(j.text.replace("\n","")) 
player_name[:10]

['Megan Schutt',
 'Marizanne Kapp',
 'Shabnim Ismail',
 'Jhulan Goswami',
 'Sophie Ecclestone',
 'Katherine Brunt',
 'Ayabonga Khaka',
 'Poonam Yadav',
 'Ellyse Perry',
 'Anya Shrubsole']

In [65]:
bowler_team = soup.find_all("span", class_="table-body__logo-text")
team = []
for i in bowler_team:
    team.append(i.text.strip())
team[:10]

['AUS', 'SA', 'SA', 'IND', 'ENG', 'ENG', 'SA', 'IND', 'AUS', 'ENG']

In [66]:
rating = soup.find_all("tr",class_="table-body")
Rating = []
for i in rating:
    tds = i.findAll('td')
    Rating.append(tds[3].text.strip())
Rating[:10]

['762', '747', '717', '694', '668', '646', '638', '617', '616', '613']

In [67]:
import pandas as pd
ODI_Women_bowler_team = pd.DataFrame({})
ODI_Women_bowler_team['Player_Name'] = player_name
ODI_Women_bowler_team['Teams'] = team
ODI_Women_bowler_team['Ratings'] = Rating
ODI_Women_bowler_team[:10]

         Player_Name Teams Ratings
0       Megan Schutt   AUS     762
1     Marizanne Kapp    SA     747
2     Shabnim Ismail    SA     717
3     Jhulan Goswami   IND     694
4  Sophie Ecclestone   ENG     668
5    Katherine Brunt   ENG     646
6     Ayabonga Khaka    SA     638
7       Poonam Yadav   IND     617
8       Ellyse Perry   AUS     616
9     Anya Shrubsole   ENG     613

# 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup 
src = requests.get("https://www.amazon.in/best-mobile-under-20000/s?k=best+mobile+under+20000")
print(src)
soup = BeautifulSoup(src.content,'lxml')

<Response [200]>

In [2]:
name = soup.find_all('span', class_ = "a-size-medium a-color-base a-text-normal")
product_name = []
for i in name:
    product_name.append(i.text.replace("\n",""))
product_name

['Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Samsung Galaxy M31 (Space Black, 6GB RAM, 128GB Storage)',
 'Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Processor | Alexa Hands-Free Capable',
 'Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor',
 'Redmi 9 Power (Mighty Black 4GB RAM 64GB Storage) - 6000mAh Battery |FHD+ Screen | 48MP Quad Camera | Alexa Hands-Free Capable',
 'realme C11 (2021) (Cool Grey, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)',
 'Redmi 9A (Nature Green, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor',
 'Redmi Note 10 Pro Max (Dark Night, 6GB RAM, 128GB Storage) -108MP Quad Camera | 120Hz Super Amoled Display',
 'Redmi 9A (Midnight Black, 2GB RAM, 32GB Storage) | 2GHz Octa-Core Helio G25 Processor',
 'Samsung Galaxy M02s (Black,4GB RAM, 64GB Storage) | 5000 mAh | Triple Camera',
 'Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi Note 10 Pro (Glacial Blue, 6GB RAM, 128GB Storage) -120hz Super Amoled Display|64MP with 5mp Super Tele- Macro',
 'Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime',
 'Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display']

In [3]:
price = soup.find_all('span',class_='a-price-whole')
mobile_price = []
for i in price:
    mobile_price.append(i.text)
mobile_price

['6,999',
 '8,999',
 '14,999',
 '13,499',
 '10,999',
 '6,999',
 '14,999',
 '7,999',
 '19,999',
 '6,999',
 '10,499',
 '12,490',
 '17,999',
 '16,999',
 '11,999']

In [4]:
rate=soup.find_all('a',class_='a-popover-trigger a-declarative') 
mobile_rate=[]
for i in rate:
    mobile_rate.append(i.text)
mobile_rate

['4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.3 out of 5 stars',
 '4.3 out of 5 stars']

In [5]:
import re
url = soup.find_all('img',{'src':re.compile('.jpg')})
img_url = []
for i in url:
    img_url.append(i)
img_url

[<img alt="Amazon App" src="https://images-eu.ssl-images-amazon.com/images/G/31/IN-hq/2021/img/Mobile_Traffic_/XCM_Manual_1321458_1651511_IN_3781247_400x39_en_IN._CB655944656_.jpg"/>,
 <img alt="Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery" class="s-image" data-image-index="1" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2.3GHz Mediatek Helio G35 Octa core Processor" class="s-image" data-image-index="2" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Samsung Galaxy M31 (Space Black, 6GB RAM, 128GB Storage)" class="s-image" data-image-index="3" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/71OxJeyywSL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71OxJeyywSL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71OxJeyywSL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71OxJeyywSL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71OxJeyywSL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71OxJeyywSL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Pro..." class="s-image" data-image-index="4" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" src="https://m.media-amazon.com/images/I/61LHaUOhehL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/61LHaUOhehL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/61LHaUOhehL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/61LHaUOhehL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/61LHaUOhehL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/61LHaUOhehL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor" class="s-image" data-image-index="5" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" loading="lazy" src="https://m.media-amazon.com/images/I/81vixbGM2EL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/81vixbGM2EL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/81vixbGM2EL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/81vixbGM2EL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/81vixbGM2EL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/81vixbGM2EL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Redmi 9 Power (Mighty Black 4GB RAM 64GB Storage) - 6000mAh Battery |FHD+ Screen | 48MP Quad Camera | Alexa Hands-Free Cap..." class="s-image" data-image-index="6" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" loading="lazy" src="https://m.media-amazon.com/images/I/71hEzQGO5qL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71hEzQGO5qL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71hEzQGO5qL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71hEzQGO5qL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71hEzQGO5qL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71hEzQGO5qL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="realme C11 (2021) (Cool Grey, 2GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers" class="s-image" data-image-index="7" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" loading="lazy" src="https://m.media-amazon.com/images/I/618UBhFmaQS._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/618UBhFmaQS._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/618UBhFmaQS._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/618UBhFmaQS._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/618UBhFmaQS._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/618UBhFmaQS._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)" class="s-image" data-image-index="8" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" loading="lazy" src="https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Redmi 9A (Nature Green, 3GB Ram, 32GB Storage) | 2GHz Octa-core Helio G25 Processor" class="s-image" data-image-index="9" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" loading="lazy" src="https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Redmi Note 10 Pro Max (Dark Night, 6GB RAM, 128GB Storage) -108MP Quad Camera | 120Hz Super Amoled Display" class="s-image" data-image-index="10" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" loading="lazy" src="https://m.media-amazon.com/images/I/81Vpy0XrvFL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/81Vpy0XrvFL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/81Vpy0XrvFL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/81Vpy0XrvFL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/81Vpy0XrvFL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/81Vpy0XrvFL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Redmi 9A (Midnight Black, 2GB RAM, 32GB Storage) | 2GHz Octa-Core Helio G25 Processor" class="s-image" data-image-index="11" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" loading="lazy" src="https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Samsung Galaxy M02s (Black,4GB RAM, 64GB Storage) | 5000 mAh | Triple Camera" class="s-image" data-image-index="12" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" loading="lazy" src="https://m.media-amazon.com/images/I/71IkA3T7hIL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71IkA3T7hIL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71IkA3T7hIL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71IkA3T7hIL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71IkA3T7hIL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71IkA3T7hIL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Oppo A31 (Fantasy White, 6GB RAM, 128GB Storage) with No Cost EMI/Additional Exchange Offers" class="s-image" data-image-index="13" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" loading="lazy" src="https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/61CnyJ-IbML._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Redmi Note 10 Pro (Glacial Blue, 6GB RAM, 128GB Storage) -120hz Super Amoled Display|64MP with 5mp Super Tele- Macro" class="s-image" data-image-index="14" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" loading="lazy" src="https://m.media-amazon.com/images/I/81nndQAg2nL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/81nndQAg2nL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/81nndQAg2nL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/81nndQAg2nL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/81nndQAg2nL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/81nndQAg2nL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB Storage) 6 Months Free Screen Replacement for Prime" class="s-image" data-image-index="15" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" loading="lazy" src="https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY654_QL65_.jpg 3x"/>,
 <img alt="Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera &amp; Full HD+ Display" class="s-image" data-image-index="16" data-image-latency="s-product-image" data-image-load="" data-image-source-density="1" loading="lazy" src="https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY218_.jpg" srcset="https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY218_.jpg 1x, https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY327_QL65_.jpg 1.5x, https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY436_QL65_.jpg 2x, https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY545_QL65_.jpg 2.5x, https://m.media-amazon.com/images/I/71X5I1cVfbL._AC_UY654_QL65_.jpg 3x"/>]

In [6]:
import pandas as pd
Mobile_under_20K = pd.DataFrame({})
Mobile_under_20K["Mobile_name"] = product_name[:15]
Mobile_under_20K["Mobile_price"] = mobile_price[:15]
Mobile_under_20K["Rating"] = mobile_rate[:15]
Mobile_under_20K["Img_URL"] = img_url[:15]
Mobile_under_20K

,Mobile_name,Mobile_price,Rating,Img_URL
0,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...","6,999",4.2 out of 5 stars,[]
1,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2....","8,999",4.2 out of 5 stars,[]
2,"Samsung Galaxy M31 (Space Black, 6GB RAM, 128G...","14,999",4.3 out of 5 stars,[]
3,"Redmi 9 Power (Mighty Black, 6GB RAM, 128GB St...","13,499",4.2 out of 5 stars,[]
4,"Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Sto...","10,999",4.1 out of 5 stars,[]
5,Redmi 9 Power (Mighty Black 4GB RAM 64GB Stora...,"6,999",4.2 out of 5 stars,[]
6,"realme C11 (2021) (Cool Grey, 2GB RAM, 32GB St...","14,999",4.1 out of 5 stars,[]
7,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","7,999",4.3 out of 5 stars,[]
8,"Redmi 9A (Nature Green, 3GB Ram, 32GB Storage)...","19,999",4.2 out of 5 stars,[]
9,"Redmi Note 10 Pro Max (Dark Night, 6GB RAM, 12...","6,999",4.1 out of 5 stars,[]
10,"Redmi 9A (Midnight Black, 2GB RAM, 32GB Storag...","10,499",4.2 out of 5 stars,[]
11,"Samsung Galaxy M02s (Black,4GB RAM, 64GB Stora...","12,490",4.1 out of 5 stars,[]
12,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","17,999",4.2 out of 5 stars,[]
13,"Redmi Note 10 Pro (Glacial Blue, 6GB RAM, 128G...","16,999",4.2 out of 5 stars,[]
14,"Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB...","11,999",4.3 out of 5 stars,[]

# 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [7]:
import pandas as pd
import requests
from bs4 import BeautifulSoup 
src = requests.get("https://forecast.weather.gov/MapClick.php?lat=37.7771&lon=-122.4196#.YF4e9j_hVPY")
print(src)
soup = BeautifulSoup(src.content,'lxml')

<Response [200]>

In [8]:
# making empty lists
Period=[]
short_descriptions=[]
temps=[]
descriptions=[]

In [9]:
period=soup.find_all('div',class_='col-sm-2 forecast-label')
for i in period:
    Period.append(i.text)
    
Period

['Overnight',
 'Friday',
 'Friday Night',
 'Saturday',
 'Saturday Night',
 'Sunday',
 'Sunday Night',
 'Monday',
 'Monday Night',
 'Tuesday',
 'Tuesday Night',
 'Wednesday',
 'Wednesday Night',
 'Thursday']

In [10]:
#extracting short descriptions
short_description=soup.find_all('p',class_='short-desc')
for i in short_description:
    short_descriptions.append(i.text)
    
short_descriptions

['Haze',
 'Partly Sunnythen Sunnyand Breezy',
 'IncreasingClouds',
 'Partly Sunnythen MostlySunny andBreezy',
 'Partly Cloudyand Breezythen MostlyCloudy',
 'Mostly Sunny',
 'Partly Cloudy',
 'Mostly Sunny',
 'Partly Cloudy']

In [11]:
#extracting temperature
temp=soup.find_all('p',class_='temp')
for i in temp:
    temps.append(i.text)
    
temps

['Low: 56 °F',
 'High: 69 °F',
 'Low: 57 °F',
 'High: 65 °F',
 'Low: 55 °F',
 'High: 65 °F',
 'Low: 55 °F',
 'High: 66 °F',
 'Low: 55 °F']

In [12]:
#extracting full description
description=soup.find_all('div',class_='col-sm-10 forecast-text')
for i in description:
    descriptions.append(i.text)
    
descriptions

['Widespread haze. Mostly cloudy, with a low around 56. West southwest wind 11 to 13 mph. ',
 'Mostly cloudy through mid morning, then gradual clearing, with a high near 69. Breezy, with a west southwest wind 6 to 11 mph increasing to 19 to 24 mph in the afternoon. Winds could gust as high as 31 mph. ',
 'Increasing clouds, with a low around 57. West southwest wind 14 to 20 mph, with gusts as high as 25 mph. ',
 'Cloudy through mid morning, then gradual clearing, with a high near 65. Breezy, with a southwest wind 14 to 24 mph, with gusts as high as 31 mph. ',
 'Partly cloudy, with a low around 55. Breezy, with a west southwest wind 17 to 22 mph decreasing to 10 to 15 mph after midnight. Winds could gust as high as 29 mph. ',
 'Mostly sunny, with a high near 65.',
 'Partly cloudy, with a low around 55.',
 'Mostly sunny, with a high near 66.',
 'Partly cloudy, with a low around 55.',
 'Mostly sunny, with a high near 67.',
 'Partly cloudy, with a low around 54.',
 'Sunny, with a high near 69.',
 'Partly cloudy, with a low around 55.',
 'Sunny, with a high near 70.']

In [13]:
weather_report = pd.DataFrame({})
weather_report['Periods'] = Period[:7]
weather_report['Short_Descriptions'] = short_descriptions[:7]
weather_report['Temperature'] = temps[:7]
weather_report['Descriptions'] = descriptions[:7]
weather_report

,Periods,Short_Descriptions,Temperature,Descriptions
0,Overnight,Haze,Low: 56 °F,"Widespread haze. Mostly cloudy, with a low aro..."
1,Friday,Partly Sunnythen Sunnyand Breezy,High: 69 °F,"Mostly cloudy through mid morning, then gradua..."
2,Friday Night,IncreasingClouds,Low: 57 °F,"Increasing clouds, with a low around 57. West ..."
3,Saturday,Partly Sunnythen MostlySunny andBreezy,High: 65 °F,"Cloudy through mid morning, then gradual clear..."
4,Saturday Night,Partly Cloudyand Breezythen MostlyCloudy,Low: 55 °F,"Partly cloudy, with a low around 55. Breezy, w..."
5,Sunday,Mostly Sunny,High: 65 °F,"Mostly sunny, with a high near 65."
6,Sunday Night,Partly Cloudy,Low: 55 °F,"Partly cloudy, with a low around 55."

# 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date

In [14]:
import pandas as pd
import requests
from bs4 import BeautifulSoup 
src = requests.get("https://internshala.com/fresher-jobs")
print(src)
soup = BeautifulSoup(src.content,'lxml')

<Response [200]>

In [15]:
job_title=[]
company_name=[]
CTC = []
Apply_date = []

In [16]:
jobs = soup.find_all('div',class_='heading_4_5 profile')
for i in jobs:
    job_title.append(i.text.strip())
job_title

['OMNI SPORT LEADER',
 'Executive/Senior Executive - Partnerships',
 'Executive - Sales',
 'Junior Operations Executive',
 'Sales Manager/Omni Sport Leader - Retail',
 'Graphic Designer',
 'Three.js Developer Trainee',
 'Full Stack Developer Trainee',
 'Immigration Consultant',
 'Software Developer - Backend',
 'Digital Marketing Executive',
 'Lifestyle Manager',
 'Marketing Campaign Manager',
 'Business Development Associate',
 'Telecaller',
 'Content & E-commerce Management Executive',
 'Software Engineer (PHP)',
 'Inside Sales Executive',
 'Graphic Designer',
 'Junior Customer Service Specialist',
 'Software Developer',
 'Graphic Designer',
 'Mobile App Developer',
 'Digital Illustrator',
 'Sales Magnet Associate',
 'Talent Acquisition Executive',
 'Career Counseling Engineer',
 'Overseas Education Counselor',
 'Phone Sales Representative',
 'Business Development Associate',
 'Order Processor',
 'Internet of Things (IoT) Associate',
 'Business Development Executive (Inside Sales)',
 'Software Engineer Trainee',
 'Junior Social Media Marketing Manager',
 'Subject Matter Expert (Finance/Advance Math)',
 'Backend Developer',
 'Junior Full Stack Developer',
 'Junior Copywriter',
 'Junior Full Stack Developer']

In [17]:
name = soup.find_all('div',class_='heading_6 company_name')
for i in name:
    company_name.append(i.text.strip())
company_name

['Decathlon Sport India Private Limited',
 'Freecharge Payments Technology Private Limited',
 'Freecharge Payments Technology Private Limited',
 'Freecharge Payments Technology Private Limited',
 'Decathlon Sport India Private Limited',
 'Fourth Frontier',
 'Thinqbot Technologies Private Limited',
 'Thinqbot Technologies Private Limited',
 'Novus Immigration Services Private Limited',
 'COSGrid Systems Private Limited',
 '21K School',
 'Pinch Lifestyle Services Private Limited',
 'Create My Content',
 'Collegepond Counsellors Private Limited',
 'Diya India Foundation',
 'Wintage Garments Private Limited',
 'WisdmLabs',
 'Easyops Technologies Private Limited',
 'Youngun India',
 'Wono Inc',
 'Plugincoder Technologies Private Limited',
 'Grey Elephants Private Limited',
 'E-Fill',
 'Talentela',
 'HyperCAP Private Limited',
 'GREedge',
 'GREedge',
 'JenNext Mentors',
 'Babco Foods',
 'StayQrious India Private Limited',
 'Babco Foods',
 'Limelight',
 'GREedge',
 'Idea Elan India Private Limited',
 'BarkButler Dog & Cat Toys',
 'Innovalance Learning Systems',
 'Indycium',
 'Synergy Labs',
 'Red Tree Design Studio Private Limited',
 'Rugas Technologies Private Limited']

In [18]:
details = soup.find_all('div',"internship_other_details_container")
for i in details:
    divs = i.find_all('div')
    CTC.append(divs[6].text.strip())
    Apply_date.append(divs[10].text.strip())

In [19]:
import pandas as pd
Fresher_joblist = pd.DataFrame({})
Fresher_joblist['Job_Title'] = job_title[:40]
Fresher_joblist['Company_name'] = company_name[:40]
Fresher_joblist['CTC'] = CTC[:40]
Fresher_joblist['Apply_Date'] = Apply_date[:40]
Fresher_joblist

,Job_Title,Company_name,CTC,Apply_Date
0,OMNI SPORT LEADER,Decathlon Sport India Private Limited,3 - 4 LPA,18 Sep' 21
1,Executive/Senior Executive - Partnerships,Freecharge Payments Technology Private Limited,3 - 4.2 LPA,11 Sep' 21
2,Executive - Sales,Freecharge Payments Technology Private Limited,3 - 3.5 LPA,11 Sep' 21
3,Junior Operations Executive,Freecharge Payments Technology Private Limited,3 - 4 LPA,4 Sep' 21
4,Sales Manager/Omni Sport Leader - Retail,Decathlon Sport India Private Limited,3.3 - 4.5 LPA,21 Aug' 21
5,Graphic Designer,Fourth Frontier,3 - 5 LPA,19 Sep' 21
6,Three.js Developer Trainee,Thinqbot Technologies Private Limited,3 - 8 LPA,19 Sep' 21
7,Full Stack Developer Trainee,Thinqbot Technologies Private Limited,3 - 8 LPA,19 Sep' 21
8,Immigration Consultant,Novus Immigration Services Private Limited,4 - 5 LPA,19 Sep' 21
9,Software Developer - Backend,COSGrid Systems Private Limited,4.2 - 4.8 LPA,19 Sep' 21
10,Digital Marketing Executive,21K School,3 - 3.5 LPA,19 Sep' 21
11,Lifestyle Manager,Pinch Lifestyle Services Private Limited,3.6 - 6 LPA,18 Sep' 21
12,Marketing Campaign Manager,Create My Content,3 - 3.6 LPA,18 Sep' 21
13,Business Development Associate,Collegepond Counsellors Private Limited,3 - 5 LPA,18 Sep' 21
14,Telecaller,Diya India Foundation,3 LPA,18 Sep' 21
15,Content & E-commerce Management Executive,Wintage Garments Private Limited,3 LPA,18 Sep' 21
16,Software Engineer (PHP),WisdmLabs,5 LPA,18 Sep' 21
17,Inside Sales Executive,Easyops Technologies Private Limited,3 - 4 LPA,18 Sep' 21
18,Graphic Designer,Youngun India,3 - 4 LPA,18 Sep' 21
19,Junior Customer Service Specialist,Wono Inc,5.1 - 5.9 LPA,18 Sep' 21
20,Software Developer,Plugincoder Technologies Private Limited,4 - 6 LPA,17 Sep' 21
21,Graphic Designer,Grey Elephants Private Limited,4.8 - 5 LPA,17 Sep' 21
22,Mobile App Developer,E-Fill,3 - 5 LPA,17 Sep' 21
23,Digital Illustrator,Talentela,5 - 6 LPA,17 Sep' 21
24,Sales Magnet Associate,HyperCAP Private Limited,3 LPA,17 Sep' 21
25,Talent Acquisition Executive,GREedge,4.5 LPA,17 Sep' 21
26,Career Counseling Engineer,GREedge,3.75 LPA,17 Sep' 21
27,Overseas Education Counselor,JenNext Mentors,3 - 5 LPA,17 Sep' 21
28,Phone Sales Representative,Babco Foods,3.5 LPA,17 Sep' 21
29,Business Development Associate,StayQrious India Private Limited,4 - 5 LPA,17 Sep' 21
30,Order Processor,Babco Foods,4 LPA,17 Sep' 21
31,Internet of Things (IoT) Associate,Limelight,3 - 5 LPA,17 Sep' 21
32,Business Development Executive (Inside Sales),GREedge,3.75 LPA,17 Sep' 21
33,Software Engineer Trainee,Idea Elan India Private Limited,3 - 3.5 LPA,16 Sep' 21
34,Junior Social Media Marketing Manager,BarkButler Dog & Cat Toys,3 - 3.5 LPA,16 Sep' 21
35,Subject Matter Expert (Finance/Advance Math),Innovalance Learning Systems,3 - 3.05 LPA,16 Sep' 21
36,Backend Developer,Indycium,4.2 - 4.8 LPA,16 Sep' 21
37,Junior Full Stack Developer,Synergy Labs,3 - 4 LPA,16 Sep' 21
38,Junior Copywriter,Red Tree Design Studio Private Limited,3 LPA,16 Sep' 21
39,Junior Full Stack Developer,Rugas Technologies Private Limited,3 - 3.5 LPA,16 Sep' 21

# 10. Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, location, area, emi and price

In [68]:
import pandas as pd
import requests
from bs4 import BeautifulSoup 
src = requests.get("https://www.nobroker.in/property/rent/hyderabad/Banjara%20Hills?searchParam=W3sibGF0IjoxNy40MTY4ODksImxvbiI6NzguNDM4NjcsInBsYWNlSWQiOiJDaElKcFREQzV5aVh5enNSb01yMzlWS1g5UXMiLCJwbGFjZU5hbWUiOiJCYW5qYXJhIEhpbGxzIn1d&radius=2.0&sharedAccomodation=0")
print(src)
soup = BeautifulSoup(src.content,'lxml')

<Response [200]>

In [69]:
title = soup.find_all('h2',class_='heading-6 font-semi-bold nb__1dDS4')
house_title = []
for i in title:
    for j in i.find_all('span'):
        house_title.append(j.text.strip())
house_title

['2 BHK Flat  For Rent  In Lotus Villa  In Banjara Hills',
 '3 BHK In Independent House  For Rent  In Banjara Hills',
 '2 BHK Flat  For Rent  In Creative Castle Apartment In Banjara Hills',
 '2 BHK Flat  For Rent  In Hill View Residency, In Khairtabad',
 '3 BHK Flat  For Rent  In Prashanthi Residency In Banjara Hills',
 '3 BHK Apartment  For Rent  In Babukhan Hill View In Banjara Hills',
 '3 BHK In Independent House  For Rent  In Banjara Hills Road No 14',
 '4 BHK Flat  For Rent  In Elites Pride Apartments In Banjara Hills',
 '3 BHK Flat  For Rent  In Javed Residency In Banjara Hills Road No.10',
 '2 BHK Flat  For Rent  In Mak Towers In Banjara Hills']

In [70]:
loc = soup.find_all('div',class_="nb__2EXTx")
location = []
for i in loc:
    location.append(i.text.strip())
location

['Jubilee Hills',
 'Independent House, Vemireddy Enclave',
 'Creative Castle Apartment, Green Valley, Banjara Hills, Hyderabad, Telangana 500034, India',
 'D No 6/3/609/15, PN 36, Anand Nagar Colony, Khairtabad, Hyderabad, Telangana 500004, India',
 'Fortune Enclave, Sri Ram Nagar Colony',
 'Babukhan Hill View\xa0 Babukhan Hill View, Hanuman Temple St, MLA Colony, Banjara Hills, Hyderabad, Telangana 500034, India',
 'Independent House, Banjara hills close to nandhi nagr .',
 'Rd Number 5, Green Valley, Banjara Hills',
 'Opposite City Center mall',
 'Road No. 10, Singada Kunta, Banjara Hills, Hyderabad, Telangana 500034, India']

In [71]:
area = soup.find_all('div',class_="nb__3uAB8")
Area = []
for i in area:
    Area.append(i.text.strip())
Area

['1,520 sqft',
 '3,000 sqft',
 '900 sqft',
 '1,000 sqft',
 '1,800 sqft',
 '2,500 sqft',
 '1,650 sqft',
 '3,300 sqft',
 '2,200 sqft',
 '1,300 sqft']

In [72]:
emi = soup.find_all('div', class_ = "nb__3vqcl")
Emi = []
for i in emi:
    Emi.append(i.text.strip())
Emi

['₹ 34,500 +₹ 2,000 Maintenance',
 '₹ 60,000 +₹ 1,500 Maintenance',
 '₹ 22,000 +₹ 1,800 Maintenance',
 '₹ 18,000 +₹ 1,000 Maintenance',
 '₹ 39,000 +₹ 2,500 Maintenance',
 '₹ 35,000 +₹ 5,500 Maintenance',
 '₹ 40,000 +₹ 3,000 Maintenance',
 '₹ 38,000 +₹ 4,000 Maintenance',
 '₹ 55,000 +₹ 2,000 Maintenance',
 '₹ 18,000 +₹ 2,000 Maintenance']

In [73]:
price = soup.find_all('div', id = "roomType")
Price = []
for i in price:
    Price.append(i.text)
Price

['₹75,000',
 '₹1,80,000',
 '₹44,000',
 '₹36,000',
 '₹1,00,000',
 '₹1,20,000',
 '₹2,00,000',
 '₹1,00,000',
 '₹1,00,000',
 '₹18,000']

In [74]:
import pandas as pd
House_details = pd.DataFrame({})
House_details['House_title'] = house_title
House_details['Location'] = location
House_details['Area'] = Area
House_details['EMI'] = Emi
House_details['Price'] = Price
House_details

,House_title,Location,Area,EMI,Price
0,2 BHK Flat For Rent In Lotus Villa In Banja...,Jubilee Hills,"1,520 sqft","₹ 34,500 +₹ 2,000 Maintenance","₹75,000"
1,3 BHK In Independent House For Rent In Banja...,"Independent House, Vemireddy Enclave","3,000 sqft","₹ 60,000 +₹ 1,500 Maintenance","₹1,80,000"
2,2 BHK Flat For Rent In Creative Castle Apart...,"Creative Castle Apartment, Green Valley, Banja...",900 sqft,"₹ 22,000 +₹ 1,800 Maintenance","₹44,000"
3,"2 BHK Flat For Rent In Hill View Residency, ...","D No 6/3/609/15, PN 36, Anand Nagar Colony, Kh...","1,000 sqft","₹ 18,000 +₹ 1,000 Maintenance","₹36,000"
4,3 BHK Flat For Rent In Prashanthi Residency ...,"Fortune Enclave, Sri Ram Nagar Colony","1,800 sqft","₹ 39,000 +₹ 2,500 Maintenance","₹1,00,000"
5,3 BHK Apartment For Rent In Babukhan Hill Vi...,"Babukhan Hill View Babukhan Hill View, Hanuma...","2,500 sqft","₹ 35,000 +₹ 5,500 Maintenance","₹1,20,000"
6,3 BHK In Independent House For Rent In Banja...,"Independent House, Banjara hills close to nand...","1,650 sqft","₹ 40,000 +₹ 3,000 Maintenance","₹2,00,000"
7,4 BHK Flat For Rent In Elites Pride Apartmen...,"Rd Number 5, Green Valley, Banjara Hills","3,300 sqft","₹ 38,000 +₹ 4,000 Maintenance","₹1,00,000"
8,3 BHK Flat For Rent In Javed Residency In Ba...,Opposite City Center mall,"2,200 sqft","₹ 55,000 +₹ 2,000 Maintenance","₹1,00,000"
9,2 BHK Flat For Rent In Mak Towers In Banjara...,"Road No. 10, Singada Kunta, Banjara Hills, Hyd...","1,300 sqft","₹ 18,000 +₹ 2,000 Maintenance","₹18,000"