# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [8]:
# Importing Libraries
import selenium
import pandas as pd
from selenium import webdriver
driver = webdriver.Chrome('C:/chromedriver')

url = 'https://www.naukri.com/' 
driver.get(url)

# Finding element for job title bar and searching for required info
search_job = driver.find_element_by_xpath("//input[@class='sugInp']")
search_job.send_keys("Data Analyst")

# Finding element for job location bar and searching for required info
search_job= driver.find_element_by_id("qsb-location-sugg")
search_job.send_keys("Bangalore")

# clicking the search button using xpath function
search_btn = driver.find_element_by_xpath("//button[@class='btn']")
search_btn.click()

In [10]:
# Creating a list to append the fetched data
job_titles = []
company_names = []
location = []
Experience_list = []

for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    job_titles.append(i.text)
for i in  driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    company_names.append(i.text)
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]"):
    location.append(i.text)
for i in  driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span"):
    Experience_list.append(i.text)

print(len(job_titles),len(company_names),len(location),len(Experience_list))

20 20 20 20

In [11]:
# Creating dataframe to store the fetched data
jobs = pd.DataFrame({})
jobs['Job_title'] = job_titles[:10]
jobs['Job_location'] = location[:10]
jobs['Company_name'] = company_names[:10]
jobs['Experience_required'] = Experience_list[:10]
jobs

,Job_title,Job_location,Company_name,Experience_required
0,Business Data Analyst,Bangalore/Bengaluru,Trigent Software,5-10 Yrs
1,Business Data Analyst,Bangalore/Bengaluru,Trigent Software,5-10 Yrs
2,Senior Data Analyst IDAM Services,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,4-8 Yrs
3,Data Analyst/Sr.Data Engineer,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",SYREN TECHNOLOGIES PRIVATE LIMITED,4-9 Yrs
4,Business Data Analyst - Google Data Studio & SQL,Bangalore/Bengaluru,AVE-Promagne,3-8 Yrs
5,Data Analyst - Python/SQL,Bangalore/Bengaluru,Affine,3-5 Yrs
6,Executive Data Analyst,Bangalore/Bengaluru,Gokaldas Exports Ltd,0-3 Yrs
7,Senior Data Analyst,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram...",Virtusa Consulting Services Pvt Ltd,8-12 Yrs
8,"Systems and Data Analyst, Safety and Provisioning",Bangalore/Bengaluru,AECOM India Private Limited,2-7 Yrs
9,Data Analyst with SQL,"Noida, Gurgaon/Gurugram, Bangalore/Bengaluru",Wipro Limited,3-5 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [12]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
driver = webdriver.Chrome('C:/chromedriver')
driver.get('https://www.naukri.com/data-scientist-jobs-in-banglore?k=data%20scientist&l=banglore')

# Fetching Urls
urls = []
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

In [13]:
len(urls)

20

In [14]:
# Creating lists to append the fetched data
job_title = []
company_names = []
location = []
job_description = []

for i in urls[:10]:
    driver.get(i)
    time.sleep(3)
    
    # fetching job-title
    try:
        job = driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_title.append(job.text.replace("\n","new line"))
    except:
        job_title.append("_")
        
    # fetching company_name
    try:
        job = driver.find_element_by_xpath("//div[@class='jd-header-comp-name']")
        company_names.append(job.text)
    except:
        company_names.append("_")
     
    # fetching job-location
    try:
        job = driver.find_element_by_xpath("//title[@class='Jobs in Bangalore/Bengaluru']")
        location.append(job.text)
    except:
        location.append("_")
        
    # Fetching Job_description
    try:
        job_des = driver.find_element_by_xpath("//section[@class='job-desc']")
        job_description.append(job_des.text)
    except:
        job_description.append("_")

print(len(job_title),len(company_names),len(location),len(job_description))

10 10 10 10

In [15]:
# Creating dataframe to store the fetched data
job = pd.DataFrame({})
job['Job_title'] = job_title[:10]
job['Job_location'] = location[:10]
job['Company_name'] = company_names[:10]
job['Job_description'] = job_description[:10]
job

,Job_title,Job_location,Company_name,Job_description
0,_,_,_,_
1,_,_,_,_
2,Senior Data Scientist,_,Airbnb4.3(35 Reviews),Job description\nResponsibilities include:\nDe...
3,SENIOR DATA SCIENTIST,_,Happiest Minds Technologies Pvt.Ltd4.0(258 Rev...,Job description\n Skills\nRequired Skills: Da...
4,Requirement For Data Scientist - Mumbai & Bang...,_,CRISIL LIMITED3.6(600 Reviews),Job description\n\nCRISIL (formerly Credit Rat...
5,Hiring For Data Scientist / Statistical Analyst,_,ManpowerGroup Services India Private Limited,Job description\nDepartment- BIRS (Business In...
6,Associate Data Scientist,_,Philips India Limited4.0(517 Reviews),Job description\nUse predictive modeling to in...
7,Data Scientist,_,NeenOpal Intelligent Solutions Private Limited,Job description\nRoles and Responsibilities\nW...
8,Data Scientist,_,PRESCIENCE DECISION SOLUTIONS PRIVATE LIMITED,"Job description\nHi,\n\nWe at Prescience www.p..."
9,Data Scientist,_,ELPIS IT SOLUTIONS PVT LTD3.3(6 Reviews),Job description\nRoles and Responsibilities\nJ...

# Q3: In this question you have to scrape data using the filters available on the webpage

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company_name,
experience_required.
The location filter to be used is “Delhi/NCR”
The salary filter to be used is “3-6” lakhs

In [21]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
driver = webdriver.Chrome('C:/chromedriver')
driver.get('https://www.naukri.com/data-scientist-jobs?k=data%20scientist')

# Clicking the location filter button 
filter_btn = driver.find_elements_by_xpath("//span[@title='Delhi / NCR']")
for i in filter_btn:
    if i.text =='Delhi / NCR':
        i.click()
time.sleep(2)


# Clicking the salary filter button 
filter_sal_btn = driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
filter_sal_btn.click()

In [22]:
# Creating a list to append the fetched data
job_title = []
location = []
company_names = []
experience_required = []

for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    job_title.append(i.text)
    
for i in  driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    company_names.append(i.text)
    
for i in driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span[1]"):
    location.append(i.text)
    
for i in  driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span"):
    experience_required.append(i.text)

print(len(job_title),len(company_names),len(location),len(experience_required))

20 20 20 20

In [23]:
# Creating dataframe to store the fetched data
job = pd.DataFrame({})
job['Job_title'] = job_title[:10]
job['Job_location'] = location[:10]
job['Company_name'] = company_names[:10]
job['Experience_required'] = experience_required[:10]
job

,Job_title,Job_location,Company_name,Experience_required
0,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
1,Data Analyst/Data Scientist,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Skillenable Fintech Private Limited,2-5 Yrs
2,Data Scientist,Gurgaon/Gurugram,PROCESS NINE TECHNOLOGIES PVT.LTD.,1-3 Yrs
3,Data Scientist - WFH - MIND Infotech,"Pune, Chennai, Bangalore/Bengaluru, Delhi / NC...",MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,3-7 Yrs
4,Data Scientist/ Machine Learning Engineer,"Mohali/SAS Nagar, Hyderabad/Secunderabad, Ahme...",Creative Hands HR Consultancy,0-0 Yrs
5,Data Scientist / Data Analyst / Business Analy...,"Noida, New Delhi, Gurgaon/Gurugram",GABA Consultancy services,0-0 Yrs
6,Data Scientist / Data Analyst,Gurgaon/Gurugram,CARS24,1-5 Yrs
7,Immediate Openings For Data Scientist For Wipr...,Gurgaon/Gurugram,IDESLABS PRIVATE LIMITED,5-10 Yrs
8,Data Scientist,Noida,R Systems International Ltd.,3-6 Yrs
9,Data Scientist,Delhi / NCR(Okhla),Kusum Healthcare Pvt. Ltd.,4-6 Yrs

# Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [24]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
driver = webdriver.Chrome('C:/chromedriver')
driver.get('https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm')

In [25]:
# Creating lists to append the fetched data
company_name = []
No_of_days_ago = []
rating_of_the_company = []

for i in driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']"):
    company_name.append(i.text)
        
for i in driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']"):
    No_of_days_ago.append(i.text)


for i in driver.find_elements_by_xpath("//span[@class=' job-search-key-srfzj0 e1cjmv6j0']"):
    rating_of_the_company.append(i.text)

In [26]:
print(len(company_name),len(No_of_days_ago),len(rating_of_the_company))

30 30 20

In [27]:
# Creating dataframe to store the fetched data
job = pd.DataFrame({})
job['Company_name'] = company_name[:10]
job['No_of_days_ago'] = No_of_days_ago[:10]
job['rating_of_the_company'] = rating_of_the_company[:10]
job

                             Company_name No_of_days_ago rating_of_the_company
0    Liberin Technologies Private Limited           30d+                   3.9
1                              Noisy Lion            24h                   3.5
2  AlgoScale Technologies Private Limited            14d                   3.6
3                          Grail Insights            24h                   3.8
4                                Lenskart             2d                   3.5
5                               Innovacer           30d+                   3.9
6                          Grail Insights            24h                   3.3
7                                     IBM            19d                   3.8
8            Salasar New Age Technologies           30d+                   4.1
9                         Newgen Software           30d+                   3.8

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [40]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
driver = webdriver.Chrome('C:/chromedriver')
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

# Finding element for job title bar
search_job = driver.find_element_by_xpath("//input[@class='keyword']")
search_job.send_keys("Data Scientist")

# Finding element for job location bar
search_job= driver.find_element_by_id("LocationSearch")
search_job.clear()
search_job.send_keys("Noida")

# clicking the search button using xpath function
search_btn = driver.find_element_by_xpath('//button[@class="gd-btn-mkt"]')
search_btn.click()

In [43]:
# Creating lists to append the fetched data
company_name = []
Number_of_salaries = []
Average_salary = []
Min_Salary = []
Max_Salary = []
Rating = []

for i in  driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']"):
    company_name.append(i.text)
    
for i in driver.find_elements_by_xpath("//div[@class='col-12 col-lg-auto']"):
    Number_of_salaries.append(i.text)
    
for i in  driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']//h3"):
    Average_salary.append(i.text)

for i in  driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[1]"):
    Min_Salary.append(i.text)

for i in  driver.find_elements_by_xpath("//div[@class='d-flex mt-xxsm css-79elbk epuxyqn0']/p[2]"):
    Max_Salary.append(i.text)
    
for i in  driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']"):
    Rating.append(i.text)    
    

print(len(company_name),len(Number_of_salaries),len(Average_salary),len(Min_Salary),len(Max_Salary),len(Rating))

20 20 20 20 20 20

In [44]:
# Creating dataframe to store the fetched data
jobs = pd.DataFrame({})
jobs['company_name'] = company_name[:10]
jobs['Number_of_salaries'] = Number_of_salaries[:10]
jobs['Average_salary'] = Average_salary[:10]
jobs['Min_Salary'] = Min_Salary[:10]
jobs['Max_Salary'] = Max_Salary[:10]
jobs['Rating'] = Rating[:10]
jobs

,company_name,Number_of_salaries,Average_salary,Min_Salary,Max_Salary,Rating
0,Tata Consultancy Services,21 salaries,"₹6,19,349",₹4L,₹13L,3.9
1,IBM,20 salaries,"₹9,00,000",₹1L,₹28L,3.9
2,Accenture,15 salaries,"₹11,71,012",₹6L,₹22L,4.1
3,Delhivery,15 salaries,"₹12,26,283",₹5L,₹1Cr,3.8
4,Ericsson-Worldwide,14 salaries,"₹7,44,116",₹4L,₹16L,4
5,UnitedHealth Group,14 salaries,"₹12,80,000",₹8L,₹15L,3.7
6,Optum,10 salaries,"₹13,29,677",₹8L,₹20L,3.7
7,Optum Global Solutions,10 salaries,"₹14,28,139",₹10L,₹17L,3.9
8,Valiance Solutions,10 salaries,"₹8,69,449",₹5L,₹15L,4.2
9,EXL Service,9 salaries,"₹11,10,000",₹6L,₹15L,3.6

# Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [12]:
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
driver = webdriver.Chrome('C:/chromedriver')
driver.get('https://www.flipkart.com')

In [13]:
# searching the input panel
input_btn=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
input_btn.send_keys('sunglasses')

# clicking the search button using xpath function 
btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
btn.click()

In [19]:
#scraping all urls from flipkart web page.
page_url=[] #empty list
url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")
for i in url:
    page_url.append(i.get_attribute("href"))
page_url

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=4',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=5',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=6',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=7',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=8',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=9',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=10',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3']

In [27]:
#scraping data of sunglass brand
sun_brand=[] #empty list
for i in page_url:
    driver.get(i)
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tags:
        sun_brand.append(i.text)

In [23]:
#scraping data of sunglass product description
sun_pro_des=[] #empty list
for i in page_url:
    driver.get(i)
    pro_des_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in pro_des_tags:
        sun_pro_des.append(i.text)

In [24]:
#scraping data of sunglass price
sun_price=[] #empty list
for i in page_url:
    driver.get(i)
    pri_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in pri_tags:
        sun_price.append(i.text)

In [28]:
#scraping data of sunglass discount
sun_discount=[] #empty list
for i in page_url:
    driver.get(i)
    dis_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    for i in dis_tags:
        sun_discount.append(i.text)

In [26]:
#Creating data frame for scraped data
Sunglass=pd.DataFrame({})
Sunglass['Brand']=sun_brand[:100]
Sunglass['Description']=sun_prodes[:100]
Sunglass['Price']=sun_price[:100]
Sunglass['Discount']=sun_discount[:100]
Sunglass

,Brand,Description,Price,Discount
0,AISLIN,"Polarized, UV Protection Round Sunglasses (49)",₹525,65% off
1,elegante,"UV Protection, Gradient Wayfarer, Clubmaster S...",₹449,70% off
2,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
3,Elligator,UV Protection Round Sunglasses (54),₹329,86% off
4,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹198,88% off
...,...,...,...,...
95,AISLIN,UV Protection Wayfarer Sunglasses (32),₹906,70% off
96,Elligator,"UV Protection, Riding Glasses, Mirrored Wayfar...",₹210,83% off
97,GANSTA,"Toughened Glass Lens, UV Protection Aviator Su...",₹266,86% off
98,PHENOMENAL,UV Protection Round Sunglasses (53),₹399,80% off
99,GANSTA,"UV Protection, Night Vision, Riding Glasses, G...",₹396,80% off

# Q7: : Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.

1. Rating 
2. Review_summary 
3. Full review

In [119]:
import selenium
from selenium import webdriver
import pandas as pd
import time

driver = webdriver.Chrome('C:/chromedriver')
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')  

# Fetching Urls
url = driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']/span")
url.click()
time.sleep(5)

In [120]:
# Creating lists to append the fetched data
Rating = []
Review_summary  = []
Full_review = []

for i in range(1,20):
    
    for i in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        Rating.append(i.text)
    
    for i in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        Review_summary.append(i.text)
    
    for i in driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div"):
        Full_review.append(i.text)

In [121]:
print(len(Rating),len(Review_summary),len(Full_review))

190 190 190

In [122]:
Review = pd.DataFrame({})
Review['Rating'] = Rating[:100]
Review['Review_summary'] = Review_summary[:100]
Review['Full_review'] = Full_review[:100]
Review

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Worth every penny,Previously I was using one plus 3t it was a gr...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,4,Good choice,So far it’s been an AMAZING experience coming ...
98,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
99,5,Highly recommended,iphone 11 is a very good phone to buy only if ...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [29]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
driver = webdriver.Chrome('C:/chromedriver')
driver.get('https://www.flipkart.com')

In [30]:
# searching the input panel
input_btn=driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input")
input_btn.send_keys('sneakers')

# clicking the search button using xpath function 
btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
btn.click()

In [31]:
#scraping all urls from flipkart web page.
page_url=[] #empty list
url=driver.find_elements_by_xpath("//nav[@class='yFHi8N']//a")
for i in url:
    page_url.append(i.get_attribute("href"))
page_url

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=3',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=4',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=5',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=6',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=7',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=8',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=9',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=10',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=2']

In [32]:
#scraping data of sneakers brand
brands=[] #empty list
for i in page_url:
    driver.get(i)
    brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand_tags:
        brands.append(i.text)

In [33]:
#scraping data of sneakers product description
pro_description=[] #empty list
for i in page_url:
    driver.get(i)
    des_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in des_tags:
        pro_description.append(i.text)

In [34]:
#scraping data of sneakers price
price=[] #empty list
for i in page_url:
    driver.get(i)
    pri_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in pri_tags:
        price.append(i.text)

In [35]:
#scraping data of sneakers discount
discount=[] #empty list
for i in page_url:
    driver.get(i)
    dis_tags=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']//span")
    for i in dis_tags:
        discount.append(i.text)

In [36]:
#Creating data frame for scraped data
sneakers=pd.DataFrame({})
sneakers['Brand']=brands[:100]
sneakers['Product description']=pro_description[:100]
sneakers['Price']=price[:100]
sneakers['Discount']=discount[:100]
sneakers

,Brand,Product description,Price,Discount
0,Robbie jones,HAWK21 Sneakers For Men,₹499,50% off
1,Echor,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹454,54% off
2,Chevit,Men Boxer Sneakers For Men,₹599,62% off
3,Longwalk,Luxury Fashionable casual sneaker shoes Sneake...,₹266,46% off
4,luxury fashion,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹379,70% off
...,...,...,...,...
95,Chevit,White Sneaker For Men's/Boy's Sneakers For Men,₹499,57% off
96,PUMA,SM-322 Sneakers For Men,"₹1,847",44% off
97,Wakefield,Simha IDP Sneakers For Men,₹210,57% off
98,BIRDE,"Casual , Partywear Sneakers Shoes For Men's An...",₹379,24% off
99,Fzzirok,HAWK21 Sneakers For Men,₹474,76% off

# Q9: Go to the link - https://www.myntra.com/shoesSet Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black” And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [39]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
driver = webdriver.Chrome('C:/chromedriver')
driver.get('https://www.myntra.com/shoes')

In [42]:
#Adding price filter

price_filter=driver.find_elements_by_xpath("//div[@class='vertical-filters-filters']")
for i in price_filter:
    if i == 'Rs. 6649 to Rs. 13099':
        i.click()
time.sleep(2)

#Adding color filter
color_filter=driver.find_elements_by_xpath("//label[@class='common-checkboxIndicator']")
for i in color_filter:
    if i == 'Black':
        i.click()

In [43]:
#scraping shoe brand data
br=driver.find_elements_by_xpath("//h3[@class='product-brand']")

brand=[] #empty list
for i in range(1,4):
    for j in br:
        brand.append(j.text)
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
    next_button.click
    
#Checking length of brand list
len(brand)

150

In [44]:
#short shoe description
des=driver.find_elements_by_xpath("//h4[@class='product-product']")

description=[] #empty list
for i in range(1,4):
    for j in des:
        description.append(j.text)
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
    next_button.click
    
#Checking length of brand list
len(description)

150

In [45]:

#scraping price of shoes
pri_tags=driver.find_elements_by_xpath("//div[@class='product-price']")


price=[] #empty list
for i in range(1,4):
    for j in pri_tags:
        price.append(j.text)
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
    next_button.click


#Checking length of price list
len(price)

150

In [46]:
# Creating dataframe to store the fetched data
Shoes = pd.DataFrame({})
Shoes['Brand'] = brand[:100]
Shoes['Product_Description'] = description[:100]
Shoes['Price'] = price[:100]
Shoes

,Brand,Product_Description,Price
0,Newfeel By Decathlon,Men Walking Shoes,Rs. 899
1,Provogue,Men Walking Sports Shoes,Rs. 699Rs. 3395(Rs. 2696 OFF)
2,Alishtezia,Women Colourblocked PU Sneakers,Rs. 799Rs. 1599(50% OFF)
3,Red Tape,Men Colourblocked PU Sneakers,Rs. 1379Rs. 4599(70% OFF)
4,Sparx,Men SM-677 Running Shoes,Rs. 986Rs. 1049(6% OFF)
...,...,...,...
95,Red Tape,Men Woven Design Sneakers,Rs. 1319Rs. 4399(70% OFF)
96,HRX by Hrithik Roshan,Men Chunky Sneaker,Rs. 1919Rs. 4799(60% OFF)
97,Red Tape,Men Air + Walking Shoes,Rs. 2189Rs. 7299(70% OFF)
98,MENGLER,Men Walking Shoes,Rs. 649Rs. 2499(74% OFF)
99,HRX by Hrithik Roshan,Men Front Runner Shoes,Rs. 1022Rs. 3299(69% OFF)

# Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes 
for each laptop:
1. title
2. Ratings
3. Price

In [57]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.common.exceptions import NoSuchElementException
driver = webdriver.Chrome('C:/chromedriver')
driver.get('https://www.amazon.in/')

In [58]:
# searching the input panel
input_btn=driver.find_element_by_id("twotabsearchtextbox") 
input_btn.send_keys('Laptop')

# clicking the search button using xpath function 
btn=driver.find_element_by_xpath('//span[@id="nav-search-submit-text"]')
btn.click()

In [59]:
#locating the core i7 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i7':
        i.click()
        break
        
#Locating the core i9 filter
filter_button=driver.find_elements_by_xpath("//a[@class='a-link-normal s-navigation-item']/span")
for i in filter_button:
    if i.text=='Intel Core i9':
        i.click()
        break

In [63]:
# Creating lists to append the fetched data
Title = []
Ratings  = []
Price = []

for i in range(1,20):
    
    for i in driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']"):
        Title.append(i.text)
    
    for i in driver.find_elements_by_xpath("//span[@class='a-price-whole']"):
        Price.append(i.text)
     
    #locating Ratings
    # Fetching Urls
    urls = []
    for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):
        urls.append(i.get_attribute("href"))
        
    for i in urls[:10]:
        driver.get(i)
        time.sleep(3)
        
        # fetching ratings
        try:                                                                      
            rating=driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']//span")
            Ratings.append(rating.text)
        except NoSuchElementException:
            Ratings.append(" - ")

In [64]:
print(len(Title),len(Ratings),len(Price))

25 190 220

In [65]:
Laptop = pd.DataFrame({})
Laptop['Title'] = Title[:10]
Laptop['Ratings'] = Ratings[:10]
Laptop['Price'] = Price[:10]
Laptop

                                               Title       Ratings     Price
0  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  4.1 out of 5  1,23,300
1  Mi Notebook Ultra 3K Resolution Display Intel ...  4.2 out of 5    76,999
2  Lenovo IdeaPad S540 11th Gen Intel Core i7 13....  4.3 out of 5    77,990
3  ASUS TUF Gaming F17 (2021), 17.3-inch (43.94 c...            -   1,13,990
4  ASUS TUF Dash F15 (2021), 15.6-inch (39.62 cms...  3.5 out of 5    87,990
5  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...  4.4 out of 5    73,990
6  Mi Notebook Horizon Edition 14 Intel Core i7-1...  4.2 out of 5    57,990
7  HP Pavilion 13(2021) 11th Gen Intel Core i7 La...    5 out of 5    96,300
8  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  4.1 out of 5  1,23,300
9  Mi Notebook Pro QHD+ IPS Anti Glare Display In...  4.6 out of 5    72,999